<!DOCTYPE html>
<html>
<head>
  <title>SudokuApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>
	<div id="container">
		<div id="topbar">
			<%= link_to "sudoku", sudokus_path, id: "logo" %>
			<div id="navbar">
				<%= link_to "index", sudokus_path %>
			</div>
		</div>

		<%= yield %>
	</div>
</body>
<footer>
</footer>
</html>
